body a,span,h1,h2,h3,h4,h5{
  font-family: 'Ubuntu', sans-serif !important;

}
body p{
  font-family: 'Open Sans' !important;
}
.red_box {
  position: fixed;
  width: 25rem;
  height: 24rem;
  border-radius: 50%;
  background: red;
  filter: blur(20px);
  right: -26rem;
  box-shadow: 1rem 0rem 31rem 3rem red;
  top: 15rem;
  z-index: 1;
}
.white_box {
  position: fixed;
  width: 25rem;
  height: 24rem;
  border-radius: 50%;
  background: #32313a;
  filter: blur(20px);
  left: -26rem;
  box-shadow: 1rem 0rem 31rem 3rem #32313a;
  top: 15rem;
  z-index: 1;
}

.mission_wrapper {
  background-image: url("../../assets/Login/black_bg.png");
  height: auto;
  width: auto;
}
.mission_container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  padding-top: 6.6rem;
  position: relative;
}

.mission {
  z-index: 10;
  display: grid;
  grid-template-columns: 35rem 35rem;
}
.imgbrain {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}
.mission_right {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 1200px) {
  .mission {
    grid-template-columns: 41rem;
  }
  .imgbrain {
    height: 100%;
    width: 100%;
  }
  .mission_right {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 730px) {
  .imgbrain {
    height: 100%;
    width: 91%;
  }
}
@media screen and (max-width: 650px) {
  .imgbrain {
    height: 100%;
    width: 100%;
  }
  .mission {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 590px) {
  .imgbrain {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 15rem;
    width: 29rem;
  }
}
@media screen and (max-width: 520px) {
  .imgbrain {
    height: 15rem;
    width: 25rem;
  }
}
@media screen and (max-width: 460px) {
  .imgbrain {
    height: 13rem;
    width: 23rem;
  }
}
@media screen and (max-width: 420px) {
  .imgbrain {
    height: 11rem;
    width: 18rem;
  }
  .mission_right p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  .imgbrain {
    height: 10rem;
    width: 16rem;
  }
}
@media screen and (max-width: 310px) {
  .imgbrain {
    margin-left: 2rem;
    height: 10rem;
    width: 13rem;
  }
}
/* //////////////////////////////// */
.team_wrapper {
  background-image: url("../../assets/Login/black_bg.png");
  height: auto;
  width: auto;
  display: flex;
  position: relative;
}
.maingif {
  object-fit: contain;
  position: absolute;
  height: 100%;
  filter: blur(20px);
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.team_container {
  padding: 9rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 100;
}
.team_container h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  padding-left: 4rem;
}
.team_container h1 strong {
  color: red;
}

.team_box {
  padding: 1rem 2rem;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: 34rem;
  /* justify-content: space-evenly; */
  width: 32rem;
  padding-top: 9%;
}
.team_box h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  border-radius: 50%;
  fill: blue;
  background: white;
}
.team_box_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  place-items: center;
  z-index: 0;
}
.team_box img {
  width: 18%;
  height: 15%;
  border-radius: 50%;
  object-fit: cover;
}


.cofounder {
  margin-top: -1.5rem;
  margin-bottom: -1rem;
  font-weight: 200;
}
.about_chain_left {
  position: absolute;
  top: 10rem;
  opacity: 0.3;
}
.about_chain_right {
  position: absolute;
  top: 10rem;
  opacity: 0.3;
  right: 0;
}
@media screen and (max-width: 500px) {
  .team_box_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .team_box p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 550px) {
  .team_box {
    width: 100%;
  }
  .team_container {
    padding: 4rem 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  .about_chain_right {
    position: absolute;
    top: 14rem;
    opacity: 0.3;
    right: 0;
    width: 9rem;
  }
  .about_chain_left {
    position: absolute;
    top: 14rem !important;
    opacity: 0.3;
    width: 9rem;
  }
}
@media screen and (max-width: 1200px) {
  .team_box_wrapper {
    gap: 2rem;
  }
  .team_container h1 {
    text-align: center;
    padding: 0;
  }
}
