body a,span,h1,h2,h3,h4,h5{
  font-family: 'Ubuntu', sans-serif !important;

}
body p{
  font-family: 'Open Sans' !important;
}
.header_wrapper {
  background: black;
  position: relative;
  z-index: 111 !important;
}
.header_div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  color: white;
}
.header_div h1 {
  padding-right: 2rem;
}
.header_right {
  width: 20rem;
}
.header_logo {
  width: 15rem;
}
.header_right div button {
  padding: 0.3rem 1.5rem;
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
}
.header_right div button:nth-child(2) {
  padding: 0.3rem 1.5rem;
  background: white;
  border: 1px solid white;
  border-radius: 50px;
  color: black;
}
@media screen and (max-width: 990px) {
  .header_div {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 650px) {
  .header_div {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .header_div h1 {
    padding-right: 0rem;
  }
  .header_right {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 13rem;
  }
}
